<!-- The following doctype doesn't work when offline, so default to old one, which does work.
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">-->
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <mapping class="org.appfuse.model.User"/>
        <mapping class="org.appfuse.model.Role"/>
        <mapping class="una.cr.alpha.model.Person"/>
        <mapping class="una.cr.alpha.model.Catalog"/>
        <mapping class="una.cr.alpha.model.CatalogValue"/>
        <mapping class="una.cr.alpha.model.Dish"/>
        <mapping class="una.cr.alpha.model.Menu"/>
        <mapping class="una.cr.alpha.model.Food"/>
        <mapping class="una.cr.alpha.model.Preference"/>
        <mapping class="una.cr.alpha.model.Suggest"/>
    </session-factory>
</hibernate-configuration>
